body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.form-container{
  margin: 20px auto;
  width: 1000px;
  height: auto;
}
.smurf-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
  padding: 20px;
}

.smurf-item{
  width: 200px;
  height: 200px;
}

.smurf-item .card-inner{
  padding: 15px;
}
